body {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
}

.form-group {
  margin: auto;
}

form input {
  margin-bottom: 50px;
}

form label {
  font-family: 'Arimo';
}

.to {
  width: 500px;
}

.jumbotron {
  font-family: 'PT Sans';
}

p {
  font-size: 20px;
}

.subject {
  width: 700px;
}

.content {
  margin-bottom: 0px;
  width: 700px;
  height: 500px;
  text-align: : left;
  vertical-align: text-top;
}

.links {
  display: inline-block;
}

.right {
  float: right;
}

.right label {
  margin-right: 10px;
}

.right i {
  cursor: pointer;
}

.btn {
  margin-top: 5px;
}